<?php include ('header.phtml'); ?>

    <div id="app">

        <img class="home" src="assets/img/home.png" title="home" alt="home">
        <h2>Messenger DWCA</h2>
        <h3>1.0.0</h3>
        <div class="row"></div>

        <div class="row center">
            <p style="color: white">ERROR 404</p>
            <a id="no_session" href="/"><button class="btn center blue">Retour</button></a>
        </div>
    </div>

<?php include ('footer.phtml'); ?>