    <?php include ('header.phtml'); ?>

    <div id="chatDisp">

    </div>

    <div class="container center-align" id="inputMessageAndSend">

            <textarea placeholder="Votre message" class="materialize-textarea" id="messageInput" title="message"></textarea>

            <button class="waves-effect waves-light btn" id="sendMessage">Envoyer</button>
            <a href="/compte"><button class="waves-effect waves-light btn blue lighten-3" id="sendMessage">compte</button></a>

    </div>

    <?php include ('footer.phtml'); ?>

    <!-- js core page -->
    <script async src="assets/js/chat.min.js"></script>

    </body>
</html>



