
<?php include ('header.phtml'); ?>

     <div class="row container center">
        <div>
            <div class="space-50"></div>

            <form class="col s12">

                <div id="compte" class="col s12 famille_avatars">
                    <p>
                        <label>
                            <input id="logohomme" value="assets/img/logo-homme.png" name="logo" type="radio" />
                            <span><img class="avatars" src="../assets/img/logo-homme.png" alt="logo homme"></span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="logofemme" value="assets/img/logo-femme.png" name="logo" type="radio" />
                            <span><img class="avatars" src="../assets/img/logo-femme.png" alt="logo femme"></span>
                        </label>
                    </p>

                </div>

                <div id="valide_pseudo" class="row">
                    <div class="input-field col s12">
                        <input placeholder="Votre Pseudo" id="pseudo" type="text" class="validate" title="Pseudo">
                        <button type="button" id="ButtonSubmit" class="waves-effect waves-light btn">Valider</button>
                    </div>
                </div>
            </form>

            <div is="user_active">
                <a href="/chat"><button id="redirect_chat" class="waves-effect waves-light btn blue lighten-3">Retour au Chat</button></a>
                <button class="waves-effect waves-light btn red lighten-2" id="clearLC">Supprimer les données</button>
            </div>

        </div>
    </div>

    <?php include ('footer.phtml'); ?>

    <!-- js core page -->
    <script src="assets/js/compte.min.js"></script>

    </body>
</html>


