    <footer style="color: white; text-align: center">

    </footer>

    <!-- js lib -->
    <script src="assets/lib/jquery-3.6.0.slim.min.js"></script>
    <script src="assets/lib/materialize.min.js"></script>

