    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta name="robots" content="noindex"/>
        <meta name="robots" content="noindex,nofollow"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Messenger DWCA</title>
        <link rel="icon" type="image/png" href="../assets/img/pwa_icones/firefox/firefox-general-32-32.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
        <!-- pwa -->
        <link rel="manifest" href="manifest.json"/>
        <meta name="theme-color" content="#5690d9"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <script type="module" src="pwabuilder-sw-register.js"></script>
        <link rel="apple-touch-icon" href="assets/img/pwa_icones/ico_base/icon-192x192.png"/>
    </head>
    <body>
    <nav class=" black" role="navigation">
        <div id="nav" class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="a" href="/">Home</a></li>
                <li><a class="a" href="/compte">Mon compte</a></li>
                <li><a class="a" href="/chat">Espace de chat</a></li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="/">
                        <i class="mdi">
                            <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
                            </svg>
                        </i>
                    </a>
                </li>

            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background"></div>
                        <a href="#!"><span class="white-text email">Messenger DWCA </span></a>
                    </div>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="/">
                        <i class="material-icons">account_balance</i>
                        Home
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="/compte">
                        <i class="material-icons">account_circle</i>
                       Mon compte
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="/chat">
                        <i class="material-icons">chat</i>
                        Espace de chat
                    </a>
                </li>

            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>