<?php include ('views/header.phtml'); ?>

    <div id="app">

        <img class="home" src="assets/img/home.png" title="home" alt="home">
        <h2>Messenger DWCA</h2>
        <h3>3.0.0</h3>
        <div class="row"></div>

        <div class="row center">
           <button type="button" id="no_session" class="btn center blue">Créer ton compte</button>
           <button type="button" id="session" class="btn center blue">Go !</button>
        </div>
    </div>

    <?php include ('views/footer.phtml'); ?>

    <!-- js core page -->
    <script src="assets/js/home.min.js"></script>

    </body>
</html>
