body {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.space-50 {
  height: 50px;
}

h2 {
  color: whitesmoke;
  text-align: center;
}

h3 {
  color: whitesmoke;
  text-align: center;
  font-size: 1.5em;
}

.home {
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.famille_avatars {
  display: flex;
  justify-content: space-between;
}

.avatars {
  width: 100px;
  height: 100px;
}

textarea {
  color: white;
}

input {
  color: white;
}

textarea.materialize-textarea {
  margin: 8px auto !important;
  padding: 0.5rem 0 0.8rem 0;
}

#chatDisp {
  height: 70vh;
  width: 100%;
  margin: 5px auto 0 auto;
  background-color: rgba(74, 68, 68, 0.51);
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
}

.name {
  font-weight: bold;
}

.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto 0 auto;
  padding: 10px;
  color: #ebd4a8;
  text-align: center;
}

.avatar {
  width: 30%;
  height: 30%;
  border: 2px solid #ebd4a8;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: #ffffff;
}

@media only screen and (min-width: 900px) {
  .avatar {
    width: 10%;
    height: 10%;
    border: 2px solid #ebd4a8;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #ffffff;
  }
}
.text {
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.11);
}

button {
  margin: 20px auto;
}

#inputMessageAndSend {
  position: fixed;
  bottom: 0;
  right: 10%;
  left: 10%;
  width: 80%;
  height: 140px;
  padding: 5px 0;
}

/* Change user agent Autocomplete styles sur Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid #9e9e9e;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

/*# sourceMappingURL=style.css.map */
